.cart-item {
  position: relative;
  box-sizing: border-box;
  padding: 5%;

  transition: background-color 0.2s, opacity 0.2s;
  &::before {
    content: '';
    width: 90%;
    height: 2px;
    background-color: rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 0;
    left: 5%;
  }
}

.thumb {
  vertical-align: top;
  width: 15%;
  margin-right: 3%;
  display: inline-block;

  img {
    width: 100%;
    height: auto;
  }
}

.remove-icon {
  width: 16px;
  height: 16px;
  top: 15px;
  right: 5%;
  border-radius: 50%;
  position: absolute;
  background-size: auto 100%;
  background-image: url('../../../static/sprite_delete-icon.png');
  background-repeat: no-repeat;
  z-index: 2;
  cursor: pointer;

  &:hover {
    background-position-x: -17px;
  }
}


.details{
  
  display: inline-block;
  width: 50%;
  vertical-align: middle;
  text-align: left;
  .title {
    color: #ececec;
    margin: 0;
  }
  
  .desc {
    color: #5b5a5e;
    margin: 0;
  
    &--remove {
      text-decoration: line-through;
      opacity: 0.6;
    }
  }    
}

.price {
  
  display: inline-block;
  color: #eabf00;
  text-align: right;
  width: 25%;
  vertical-align: middle

  &--remove {
    text-decoration: line-through;
    opacity: 0.6;
  }
}

