
.shelf-item {
  position: relative;
  box-sizing: border-box;
  padding: 5%;

  transition: background-color 0.2s, opacity 0.2s;
  &::before {
    content: '';
    width: 90%;
    height: 2px;
    background-color: rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 0;
    left: 5%;
  }

  &--mouseover {
    background: #0c0b10;
  }

  &__del {
    width: 16px;
    height: 16px;
    top: 15px;
    right: 5%;
    border-radius: 50%;
    position: absolute;
    background-size: auto 100%;
    background-image: url('../../../static/sprite_delete-icon.png');
    background-repeat: no-repeat;
    z-index: 2;
    cursor: pointer;

    &:hover {
      background-position-x: -17px;
    }
  }

  &__thumb,
  &__details,
  &__price {
    display: inline-block;
    vertical-align: middle;
  }

  &__thumb {
    vertical-align: middle;
    width: 15%;
    margin-right: 3%;

    img {
      width: 100%;
      height: auto;
    }
  }
  &__details {
    width: 57%;

    
  }
}

.details{
  
  width: 57%;
  .title {
    color: #ececec;
    margin: 0;
  }
  
  .price {
    color: #eabf00;
    text-align: right;
    width: 25%;
    display: inline-block;
    vertical-align: middle;
  
    &:hover {
      text-decoration: line-through;
      opacity: 0.6;
    }
  }
  
  .desc {
    color: #5b5a5e;
    margin: 0;
  
    &:hover {
      text-decoration: line-through;
      opacity: 0.6;
    }
  }    
}

